server:
  port: 8082
spring:
  datasource:
    url: jdbc:h2:mem:purchase
    username: sa
    password: sa
    driver-class-name: org.h2.Driver

  
  h2:
    console:
      enabled: true
      path: /h2-console